YANDEX_KEY=
YANDEX_SECRET=
EMAIL_ADDRESS=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_HOST=alfred-cg.herokuapp.com
EMAIL_DOMAIN=yandex.ru
EMAIL_USERNAME=dzyundzik@cybergizer.com
EMAIL_PASSWORD=password
OIDC_HOST=https://78eb3dec7f0b.ngrok.io
OIDC_PRIVATE_KEY=

