<h3>Editing User</h3>

<%= render 'admin_form', user: @user, form_url: admin_user_path(@user),
                         applications: @applications, user_application_names: @user_application_names %>
