<h1>New User</h1>

<%= render 'admin_form', user: @user, form_url: admin_users_path,
                         applications: @applications, user_application_names: @user_application_names %>

<%= link_to 'Back', admin_users_path %>
